*{
  margin: 0%;
  padding: 0%;
}
body{
  overflow-x: hidden;
}
body section{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
      display: flex;
      justify-content: center;
     
  }

  .navbar {
    background-color:black;
    overflow: hidden;
    padding: 10px 0;display: flex;
  justify-content: space-between;
}

.navbar2{
height: 60px;

}
/* Style for the logo */
.logo {
    float: left;
    
    
}
.logo a{
  float: unset
    display: unset;
  
}


.navbar{
  
}

/* Style for the navigation links */
.navbar > a {
    float: right;
    display: block;
    color: rgb(250, 246, 246);
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    align-items:  flex-start;
   
}
.new > a{
  float: right;
  display: block;
  color: rgb(250, 246, 246);
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  align-items:  flex-end;
 
}

/* Style for the search bar container */
.search-container {
    float: left;
   display: block;

}

/* Style for the search bar input */
.search-bar {
    padding: 10px;
    border: none;
    margin-top: 2px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    width: 500px;
    
}

/* Style for the search button */
#search-button {
    background-color:  #40D3DC;
    color: rgb(11, 11, 11);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    font-size :16px;
}

.autocom-box {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  z-index: 1;
}

/* Change color on hover for links */
.new a:hover {
    color:#40D3DC;
    border-radius: 10px;
    padding: 10px;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
   
    
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
    display: flex;
  
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  

  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  #radio5:checked ~ .first{
    margin-left: -80%;
  }

  #radio6:checked ~ .first{
    margin-left: -100%;
  }

  #radio7:checked ~ .first{
    margin-left: -120%;
  }

  #radio8:checked ~ .first{
    margin-left: -140%;
  }

  #radio9:checked ~ .first{
    margin-left: -160%;
  }

  #radio10:checked ~ .first{
    margin-left: -180%;
  }
  
 
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #2c3738;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #2c3738;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background:#2c3738;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #2c3738;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background:#2c3738;
  }
        
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background:#2c3738;
  }
        
  #radio6:checked ~ .navigation-auto .auto-btn6{
    background:#2c3738;
  }
        
  #radio7:checked ~ .navigation-auto .auto-btn7{
    background:#2c3738;
  }
        
  #radio8:checked ~ .navigation-auto .auto-btn8{
    background:#2c3738;
  }
        
  #radio9:checked ~ .navigation-auto .auto-btn9{
    background:#2c3738;
  }
        
  #radio10:checked ~ .navigation-auto .auto-btn10{
    background:#2c3738;
  }
        
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.sec1 .conte-container h2{
  color: black;
  font-size: 30px;
  font-family: Garamond, serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conte {
  margin: 0;
  padding: 0;
  display: flex;
}

.sec1 .conte-container h2 {
  color: black;
  font-size: 30px;
  font-family: Garamond, serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left2-panel {
  width: 20%; /* Adjust the width as needed */
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
  height: 1200px;
 
}

.left2-panel h2 {
  background-color:#068f96;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.left2-panel a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  font-weight :bolder;
  text-align: center;
}
.left2-panel .dropdown-button {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
}

.left2-panel ul{
  list-style-type: circle;
  margin: 20px;

}
.left2-panel li{
  line-height: 20px;
}
.right2-panel {
  width: 80%; /* Adjust the width as needed */
  padding: 20px;
  display: block;
  align-items: center;
  justify-content: center;
}

.information-container {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.information-container h2 {
  color: black;
}

.information-container img {
  max-width: 50%; /* Adjust the image width as needed */
  height: auto;
  margin-right: 20px;
}

/* Add any additional CSS styling as needed for your specific design */


.description-container {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.image-container img {
  max-width: 50%;
  height: auto;
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.1);
}

.description {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.description.active {
  display: block;
}

  /*monument*/
  .monumenttext h4,h2{
    font-style: normal;
    color: white;
    font-size: 17px;
  }
 
  .cont-container{
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha (fourth value) for transparency */
    color: white;
    padding: 20px;
    text-align: center;
    width: 300px;
height: 50px;
border-radius: 20px;

}
.cont-container h2:hover{
  color:#40D3DC;
border-radius: 10px;

}
.cont-container:hover{
  animation: bounce 0.5s infinite alternate;
}


  .monumment-img{
    position: relative;
    max-width: 100%;
  }
  .monumment-img img{
    width: 100%;
   height: auto;
  }
  
   
  
  @media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        float: none;
        text-align: center;
        margin-bottom: 20px; 
    }

    .navbar > a, .new > a {
        float: none;
        margin-bottom: 10px; 
    }

    .search-bar {
        width: 10%; 
    }

    
}
.text h2{
color: #40D3DC;
text-align: center;
padding: 15px;

}
.cont{
  width:auto;
  background-color: rgb(0, 0, 0, 0.5);
 height: 50px;
}

/* styles.css */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 40px; /* Adjust the gap between images */
  list-style: none;
  padding: 40px;
}

.image-grid li {
  text-align: center;
  position :relative;
}

.image-grid img {
  max-width: 100%; /* Ensure images don't exceed container width */
  height: auto; /* Maintain aspect ratio */
  display: block;
  cursor: pointer;
}
.image-grid img:hover{
transform: scale(1.1);
}


.image-grid li:hover .description-box {
  display: flex; }


  .description-box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 20%;
    background: rgba(0, 0, 0, 0.3);
    color: #40D3DC;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    pointer-events: none; /* Allow clicking through the description box */
border-radius: 5px;
font-weight: bold;


  }
  .description-box a{
    display: block;
    color:#40D3DC;
    text-decoration: none;
  }

  .section1{
    padding-left: 30px;
    padding-right: 30px;
  }

  .info-container {
    display: flex;
    flex-direction: row;
  
    border-width: 2px;
    height: 450px;
    background-color: #f0f0f0;
}

.info {
    width: 850px;
    height:500px;
    padding: 30px;
}

.info img {
    width: 100%;
    height: auto;
}

.explanation-container {
    padding: 20px;
    width: 700px;
   
}

.explanation-container p {
    font-size: 13px;
    line-height: 1.5;
}

.explanation-container h2{

  background-color: #068f96;
  padding: 10px;
  margin-top: 0;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}


.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.menu {
  display: none;
  position: absolute; /* Position above the image container */
  top: 0;
  left: 0;
  width: 40%;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu ul {
  list-style-type: none;
  padding: 20px;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .menu.show {
      display: block;
  }
}
.section2{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

}
.info-container2 {
  display: flex;
  flex-direction: row;

  border-width: 2px;
  height: 450px;
  background-color: #f0f0f0;
}

.info2 {
  width: 850px;
  height:500px;
  padding: 30px;
}

.info2 img {
  width: 100%;
  height: auto;
}

.explanation-container2 {
  padding: 20px;
  width: 700px;
 
}

.explanation-container2 p {
  font-size: 13px;
  line-height: 1.5;
}

.explanation-container2 h2{

background-color: #068f96;
padding: 10px;
margin-top: 0;
display: flex;
justify-content: center; /* Horizontal centering */
align-items: center;
font-size: 30px;
font-weight: bold;
}


.section3{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

}
.info-container3 {
  display: flex;
  flex-direction: row;

  border-width: 2px;
  height: 450px;
  background-color: #f0f0f0;
}

.info3 {
  width: 850px;
  height:500px;
  padding: 30px;
}

.info3 img {
  width: 100%;
  height: auto;
}

.explanation-container3 {
  padding: 20px;
  width: 700px;
}

.explanation-container3 p {
  font-size: 13px;
  line-height: 1.5;
}


.explanation-container3 h2{
background-color: #068f96;
padding: 10px;
margin-top: 0;
display: flex;
justify-content: center; /* Horizontal centering */
align-items: center;
font-size: 30px;
font-weight: bold;
}
/*read more*/
.read-more {
display: none;

}
.read-more-btn{
text-decoration: none;
border:none;
background-color: none;
color: #068f96;
font-weight: 600;
cursor: pointer;
}


.section4{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

}
.info-container4 {
  display: flex;
  flex-direction: row;

  border-width: 2px;
  height: 450px;
  background-color: #f0f0f0;
}

.info4 {
  width: 850px;
  height:500px;
  padding: 30px;
}

.info4 img {
  width: 100%;
  height: auto;
}

.explanation-container4 {
  padding: 20px;
  width: 700px;
}

.explanation-container4 p {
  font-size: 13px;
  line-height: 1.5;
}

.explanation-container4 h2{
background-color: #068f96;
padding: 10px;
margin-top: 0;
display: flex;
justify-content: center; /* Horizontal centering */
align-items: center;
font-size: 30px;
font-weight: bold;
}



.section5 h2{
  color:black;
  font-family: Garamond, serif;
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  
 
}
.section5 .h2co
{
  
  padding: 10px;

  margin-top: 20px;
 margin-left: 200px;
 margin-right: 200px;

}
.section5 h2:hover {
  background-color: #333; /* Change background color on hover */
  color: white; /* Change text color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.co-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.circle .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.circle:hover img {
  transform: scale(1.1);
}

.circle:hover .overlay {
  opacity: 1;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}

.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;

  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }

  .send-email-container {
    background-color:black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;

  width: 500px; /* Set the width to 500px */
  margin: 0 auto; 

  }
  
  .send-email-container h2 {
    color: #fff;
    margin-bottom: 5px;
    font-family:verdana;
  }
  
  .send-email-container form {
    display: flex;
    flex-direction: column;
    height: 80px;
  }
  
  .send-email-container textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .send-email-container button {
    background-color: #40D3DC;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
  }
  
  .send-email-container button:hover {
    background-color: #333;
    color: #fff;
  }

  .send-email-container h4{
    color:white;
    padding-bottom: 2px;
    font-family: Garamond, serif;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.cont2{
  width:auto;
  background-color: rgb(0, 0, 0, 0.5);
 height: 50px;
 margin-top: 10px;
}

.cont2-passage {
  padding: 20px;
}

.cont2-passage p{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300px;
  font-size:20px;
}
